* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(217, 255, 255);
}


/*header*/
header {
    background-color: white;
}

#logo {
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#logotext {
    font-size: 40px;
    vertical-align: middle;
}
 /*main*/

 main {
     width: 70%;
     margin: 0 auto;
 }

 .adds {
     background-color: white;
     margin: 10px 0px;
     height: 50px;
 }

 .add {
     display: inline-block;
     border-radius: 10%;
 }

 .task{
     padding: 5px 10px;
     color: white;
     background-color: rgb(105, 194, 194);
     margin-top: 13px;
 }

 .section {
     color: lightgray;
    padding: 5px 10px;
     border: 1px solid lightgray;
 }

 .lists {
     background-color: white;
 }
 .fatto::before {
    content: ' \2611';
}

.nonfatto::before {
    content: ' \2612';
}


.editorial {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(105, 194, 194) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}
.q1goals {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(152, 102, 192) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}

.recruiting {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(45, 175, 121) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}

.mobile {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(241, 158, 4) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}

.website {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(231, 118, 188) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}

.sales {
    font-size: 10px;
    padding: 5px 9px;
    background-color: rgb(128, 218, 25) ;
    color: white;
    border-radius: 40%;
    vertical-align: middle;
}

.altro::before {
    content: ' \25BC';
}

